@import "tailwindcss";

@theme {
  --color-primary: #5c47f9;
  --color-warning: #dd6706;
  --color-warning-bg: #ffebdb;

  --shadow-custom: -1px -4px 32px rgba(19, 17, 32, 0.05);
}

@keyframes bounceCustom {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(100, 100, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 15px 15px rgba(100, 100, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(100, 100, 255, 0);
  }
}

@keyframes movingShadow {
  0% {
    box-shadow: 10px 0 20px rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: -10px 0 20px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 0 -10px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 10px 0 20px rgba(255, 255, 255, 0.5);
  }
}

@layer utilities {
  .animate-bounceCustom {
    animation: bounceCustom 1s ease-in-out;
  }

  .animate-pulseBorder {
    animation: pulseBorder 2s infinite;
  }
  .animate-movingShadow {
    animation: movingShadow 3s infinite;
  }
}
